*{
    font-family: 'Lato', sans-serif;
}

body{
    margin: 0;
}



/* title */
h1 {
    text-align: center;
    font-size: 50px;
    color: rgb(129, 18, 18);
    margin-bottom: 100px;
}

h2{
    font-size: 40px;
}


fieldset {
    border: 5px solid #dce9dc00; /* Change border thickness and color */
    border-radius: 20px;        /* Rounded corners */
    padding: 0px;              /* Padding inside the fieldset */ 
    align-items: center;
    margin-bottom: 150px;
}


#contentTop1 {
    background: radial-gradient(circle at 20% 30%, rgba(102, 112, 101, 0.616), rgba(255, 255, 255, 0.8) 40%) ,
    radial-gradient(circle at 70% 80%, rgba(83, 241, 9, 0.829), rgba(255, 255, 255, 1) 40%) ,
    radial-gradient(circle at 80% 20%, rgba(122, 136, 110, 0.658), rgba(255, 255, 255, 1) 25%) ,
    radial-gradient(circle at 30% 70%, rgba(60, 255, 0, 0.897), rgba(255, 255, 255, 0.9) 30%);
    background-size: cover;
}

#contentTop2 {
    background: radial-gradient(circle at 20% 30%, rgba(12, 15, 11, 0.616), rgba(255, 255, 255, 0.8) 50%) ,
    radial-gradient(circle at 70% 80%, rgba(241, 9, 9, 0.829), rgba(255, 255, 255, 1) 30%) ,
    radial-gradient(circle at 80% 20%, rgba(240, 0, 0, 0.658), rgba(255, 255, 255, 1) 25%) ,
    radial-gradient(circle at 30% 70%, rgba(87, 94, 83, 0.897), rgba(255, 255, 255, 0.9) 40%);
    background-size: cover;
}

#contentTop3 {
    background: radial-gradient(circle at 20% 30%, rgba(12, 15, 11, 0.226), rgba(255, 255, 255, 0.8) 50%) ,
    radial-gradient(circle at 70% 80%, rgba(211, 183, 183, 0.829), rgba(255, 255, 255, 1) 30%) ,
    radial-gradient(circle at 80% 20%, rgba(86, 110, 79, 0.658), rgba(255, 255, 255, 1) 25%) ,
    radial-gradient(circle at 30% 70%, rgba(87, 94, 83, 0.897), rgba(255, 255, 255, 0.9) 40%);
    background-size: cover;
}

#contentTop4 {
    background: radial-gradient(circle at 20% 30%, rgba(255, 145, 0, 0.4), rgba(255, 255, 255, 0.8) 40%) ,
    radial-gradient(circle at 70% 80%, rgba(255, 0, 0, 0.829), rgba(255, 255, 255, 1) 20%) ,
    radial-gradient(circle at 80% 20%, rgba(255, 115, 0, 0.671), rgba(255, 255, 255, 1) 25%) ,
    radial-gradient(circle at 30% 70%, rgba(255, 136, 0, 0.664), rgba(255, 255, 255, 0.9) 30%);
    background-size: cover;
}

#contentTop5 {
    background: radial-gradient(circle at 20% 30%, rgba(255, 145, 0, 0.4), rgba(255, 255, 255, 0.8) 40%) ,
    radial-gradient(circle at 70% 80%, rgba(172, 144, 144, 0.829), rgba(255, 255, 255, 1) 20%) ,
    radial-gradient(circle at 80% 20%, rgba(255, 115, 0, 0.671), rgba(255, 255, 255, 1) 25%) ,
    radial-gradient(circle at 30% 70%, rgba(255, 136, 0, 0.664), rgba(255, 255, 255, 0.9) 30%);
    background-size: cover;
}

legend{
    font-size: 40px;
    font-weight: bold;
}

.contentInATop{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    padding: 50px;

}

.contentInATop img{
    max-width: 100%;  /* Limite la largeur maximale à 100% du conteneur parent */
    height: auto;     /* Ajuste automatiquement la hauteur pour préserver les proportions */
    display: block; 
    border-radius: 10px;
    max-height: 100%;
}

.contentInATop p {
    margin: 25px 50px 25px 50px;
    font-size: 25px;
    text-align: justify;
    max-width: 100%;
}

.contentInATop p span{
    font-size: 30px;
}







@media screen and (max-width : 1300px){
    .contentInATop{
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        padding: 10px;
    }

    .contentInATop p {
        margin: 20px 0 0 0;
    }

    fieldset {
        margin-bottom: 50px;
    }
    
    
    
}